MONGODB_URI=MONGODB_URI

API_KEY=API_KEY
AUTH_DOMAIN=AUTH_DOMAIN
PROJECT_ID=PROJECT_ID
STORAGE_BUCKET=STORAGE_BUCKET
MESSAGING_SENDER_ID=MESSAGING_SENDER_ID
APP_ID=APP_ID
MEASUREMENT_ID=MEASUREMENT_ID
FIRE_BASE_STORAGE_URL=FIRE_BASE_STORAGE_URL
